@if (Model.CheckEmpty(@Model.GetUserWord(),@Model.GetUserSentence()))
{
  <h1>@Model.GetEmptyMessage()</h1>
}

<p> @Model.GetUserWord() and @Model.GetUserSentence() </p>

<a href="/gamewc/new">Start Word Counter Game</a>
