@{
  Layout= "_layout";
}






<h2>Welcome to SKGAMES, please choose a game and enjoy!!</h2><br><br>
<form action="/wordcounters/new" method="get">
  <button class="btn btn-info" type="submit" name="newGame=">WORDCOUNTER GAME</button>
</form>
