@using WordCounter.Models;
@using System;
@{
  Layout= "_layout";
}

    <h1>Enter your informations to check how frequently your word appears in your sentence!</h1>

    <h2><form action="/wordcounters" method="post">
      <label for="sentence">Please enter a sentence : </label>
      <input id="sentence" name="sentence" type="text"><br><br>
      <label for="word">Please enter a word : </label>
      <input id="word" name="word" type="text"><br><br>
      <button class="btn btn-info" type="submit">Submit</button>
    </form></h2><br><br>

    <form action="/" method="get">
      <button class="btn btn-info" type="submit" name="HomePage=">Home Page</button>
    </form>
