@using WordCounter.Models;
@using System;
@{
  Layout= "_layout";
}

    <h1>Enter your informations to check how frequently your word appears in your sentence!</h1>

    <h1><form action="/wordcounters" method="post">
      <label for="sentence">Please enter a sentence : </label>
      <input id="sentence" name="sentence" type="text"><br><br>
      <label for="word">Please enter a word : </label>
      <input id="word" name="word" type="text"><br><br><br>
      <button class="second" type="submit">PLAY</button>
    </form></h1><br><br>

    <h1><form action="/" method="get">
      <button class="second" type="submit" name="HomePage=">HOME PAGE</button>
    </form></h1>
