<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles2.css">
    <title>WORD COUNTER</title>
    <link rel="shortcut icon" href="../img/logoicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="jumbotron">
    </div>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>
