<form action="/game/new" method="post">
  <label for="userWord">Enter a word : </label>
  <input id="userWord" name="userWord" type="text">
  <label for="userSentence">Enter a sentence : </label>
  <input id="userSentence" name="userSentence" type="text">
  <button class="btn btn-info" type="submit">Start a new game!</button>
</form>




<p><a href="/">Back home</a></p>
